* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Anek Telugu', sans-serif;

}


#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  position: fixed;
  width: 100%;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
  z-index: 999;
  top: 0;
  left: 0;

}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
  align-items: center;
}

.listah {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.link-a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s;
}

.link-a:hover {
  color: #0071B6;
}

#links-a {
  color: #0071B6;
}

#links-a::after {
  content: '';
  width: 30%;
  height: 2px;
  background: #0071B6;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.link-a:hover::after {
  content: '';
  width: 30%;
  height: 2px;
  background: #0071B6;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#coniteiner {
  background-image: url("./img/hero-messi-tattoo_1512x.webp");
  height: 90vh;
  width: 100%;
  margin-top: 101px;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#continei {
  margin-left: 40px;
  margin-top: 180px;
}

#titulo-h4 {
  padding-bottom: 10px;
  font-size: 20px;
}

#titulo-h2 {
  font-size: 50px;
}

#titulo-h1 {
  font-size: 50px;
  color: white;
  margin-top: -25px;
}

#paragrafin {

  color: #171719;
  margin-bottom: 10px;
}

/* From uiverse.io by @EmmaxPlay */
.btn {
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: #0071B6;
  font-family: inherit;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: 15px;
}

.btn::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 46, 46);
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* glow */
.btn::before {
  content: '';
  background: linear-gradient(45deg,
      #00ff7f,
      #ffff00,
      #00ff00,
      #002bff,
      #ff0000,
      #002bff,
      #ff00c8,
      #002bff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.feature {
  padding: 40px 80px;
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}



.imgs {
  width: 130%;
  margin-bottom: 10px;
  padding: 15px;
  margin-left: -23px;
}

.imgs-1 {
  width: 75%;
  margin-bottom: 10px;
}

.imgs-2 {
  width: 80%;
  margin-bottom: 10px;
}

.imgs-3 {
  width: 115%;
  margin-bottom: 10px;
  margin-left: -9px;

}

.imgs-4 {
  width: 115%;
  margin-bottom: 10px;
  margin-left: -9px;
}

.imgs-5 {
  width: 77%;
  margin-bottom: 10px;
}


#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

#feature .box-conteiner {
  display: inline-block;
  width: 190px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 4px;
}

#feature .box-conteiner:hover {
  box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);

}

.titu-h6 {

  font-size: 16px;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #2F4F4F;
  background-color: #66CDAA;
}


#product {
  text-align: center;
}

#product .conteiner-pro {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#Products {
  text-align: center;
  font-size: 50px;
  margin-top: -20px;
}

#para-gra-fo {
  text-align: center;
  font-size: 18px;
  color: #696969;
  margin-bottom: 20px;
}

.pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

.pro:hover {
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);

}

.imgs-foto {
  width: 100%;
  border-radius: 20px;
}


.pro-des {
  text-align: start;
  padding: 10px 0;

}

span {
  color: #606063;
  font-size: 12px;
}

.titu-h5 {
  padding-top: 7px;
  color: #0F0F0F;
  font-size: 14px;
}

.titu-h5-2 {
  padding-top: 7px;
  color: #0F0F0F;
  font-size: 14px;
}

.star-2 {
  margin-top: 20px;
}

.titu-h5-short {
  padding-top: 7px;
  color: #0F0F0F;
  font-size: 14px;

}

.star-short {

  margin-top: 20px;
}



.star-short-messi {
  margin-top: 20px;
}

.star-calça {
  margin-top: 20px;
}

.star-sc {
  margin-top: 20px;
}

.chuteira {
  margin-top: 20px;
}



.icon {
  font-size: 14px;
  color: rgb(255, 238, 3);

}

.preço {
  padding: 7px;
  font-size: 20px;
  font-weight: 700;
  color: #0172B7;
}

.carrinho {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #0071B6;
  font-weight: 500;
  color: white;
  font-size: 20px;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 26px;
  right: 10px;
}


.baner {
  margin: 40px 0;
  background-image: url(./img/sport.jpg);
  width: 100%;
  height: 40vh;

}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

#titulo-repair {
  color: #0071B6;
  font-size: 20px;
  margin-top: 20px;
}

.button {
  border-radius: 5px;
  background-color: #0071B6;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button #spanzin {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button #spanzin:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover #spanzin {
  padding-right: 25px;
}

.button:hover #spanzin:after {
  opacity: 1;
  right: 0;
}

#h2-titu {
  font-size: 50px;
  color: #4F4F4F;
}

#span-desconto {
  font-size: 60px;
  color: #0071B6;
}


.baner-ofe {
  margin: 40px 80px;
}

#oferta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #fff 40%, #0071b6);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.text {
  color: #0071B6;
  font-size: 15px;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 .text {
  transition: all 200ms;
}

.button-75:hover .text {
  transform: scale(.9);
  opacity: .75;
}

.banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/oferta-camisa.jpeg);
  min-width: 580px;
  height: 50vh;
  background-position: center;
  background-size: cover;
  padding: 30px;
}

.banner-boxx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/conj-messi.jpg);
  min-width: 580px;
  height: 50vh;
  background-position: center;
  background-size: cover;
  padding: 30px;
}

.titu-off {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.titu-of {
  color: #0071B6;
  font-size: 14px;
  font-weight: 300;
}

.h2-titulo {
  color: #0071B6;
  font-size: 28px;
  font-weight: 800;
}

.h2-titu {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.ispan {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

.span- {
  color: #0071B6;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}


#ultimo-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;

}


.banner-boox {
  background-image: url(img/desconto-papel.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

}

.h2-tit {
  color: #fff;
  font-family: 900;
  font-size: 22px;
  margin-left: 15px;
}

.h2-titt {
  color: #0F0F0F;
  font-family: 900;
  font-size: 22px;
  margin-left: 15px;
}

.h3-titt {
  color: #0A5E6D;
  font-family: 800;
  font-size: 15px;
  margin-left: 15px;
}

.h3-tit {
  color: #cce7d0;
  font-family: 800;
  font-size: 15px;
  margin-left: 15px;
}

.banner-boox1 {
  background-image: url(img/tenis-adidas.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.banner-boox2 {
  background-image: url(img/sportt.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;

  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}



.banner-boox2:hover {

  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.banner-boox1:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.banner-boox:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: #001C34;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  margin-top: 30px;
  margin-bottom: 30PX;

}

.h4_titulo {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

#para {
  color: #818ea0;
  font-size: 20px;
}

#grafo {
  color: #FBBE28;
  font-size: 20px;
}

#input {
  height: 40px;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  outline: none;
}

.form {
  display: flex;
  width: 50%;
}





#sing {
  appearance: none;
  background-color: #818ea0;
  border-width: 0;
  box-sizing: border-box;
  color: #0F0F0F;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  letter-spacing: 0;
  line-height: 1em;
  margin-right: 9px;
  opacity: 1;
  outline: 0;
  padding: 0.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#sing:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #FBBE28;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}




#sing:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

#sing:after {
  background-color: #ffffff;
}

#sing .tex {
  z-index: 1;
  position: relative;
}



#foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #e3e6f3;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;

}

.about {
  margin-left: -500px;
}


.imagem-logo {
  width: 20%;
  height: 25%;
  margin-bottom: 30px;
}

.contato {
  font-size: 18px;
  padding: 20px;
}

.contat {
  font-size: 18px;
  padding: 5px 20px;
}

.bxs-down-arrow-square {
  margin-top: 6px;
}

.pho_hou {
  font-size: 14px;
  color: #818ea0;
  font-weight: 500;
}

.prgrafo {
  font-size: 16px;

}

iframe {
  margin-top: 5px;
  width: 80%;
  border-radius: 10px;
}

.icone {
  margin: 0px 5px;
  color: #0071B6;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  font-size: 25px;

}

.icone:hover {
  color: #FBBE28;
  transform: 0.8s;
}

.iconeh {
  padding: 5px 10px;

}

.app-play {
  border: 1px solid black;
  border-radius: 8px;
}

.contato-about {
  font-size: 18px;
}

.a-link {
  font-size: 16px;
  color: #818ea0;
  font-weight: 500;
  text-decoration: none;
  margin-top: 10px;
}

.appplay {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #818ea0;
}

.copyri {


  margin-top: 60%;
  margin-right: 90px;
  text-align: center;



}

#dev {
  font-size: 20px;
  font-weight: 600;

}

.ycon {

  margin: 0 7px;
  font-size: 25px;
  transition: 0.3s ease-in-out;

  color: #0071B6;

}

.ycon:hover {
  color: #FBBE28;
  transform: 0.8s;

}

/*SHOP*/
#page-header {
  background-image: url("./img/b1.jpg");
  width: 100%;
  height: 40vh;
  margin-top: 100px;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

}

#contin {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#titul-h2 {
  color: #fff;
  font-size: 50px;
}

#paragrafi {
  color: #DCDCDC;
  font-size: 25px;
}

#pagination {
  text-align: center;
}

.azin {
  text-decoration: none;
  background-color: #0071B6;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

#icon-arror {
  font-size: 20px;
}


/*Sproduct*/
#prodetais {
  display: flex;
  margin-top: 180px;
  margin-left: 30px;
  margin-bottom: -80px;
}

#prodetais .main-blusas {
  width: 100%;
  margin-right: 100px;
  background: #F7F7F7;

}

.small-group {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 50%;
}

.small-img {
  height: 200px;

}

.img-small {
  width: auto;
  max-height: 60%;
  background-color: #F7F7F7;
  padding: 10px;
  text-align: center;
}

.pro-details {
  margin-top: 10px;
}

#h6-details {
  font-size: 15px;
  padding: 40px 0 20px 0;
}

#h4-details {
  font-size: 20px;
  padding: 0px 0 20px 0;
}

#selectt {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.input-number {
  width: 50px;
  height: 50px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  font-weight: 600;

}

.input-number:focus {
  outline: none;
}

#h4-product {
  font-size: 20px;
  padding: 20px 0 20px 0;
}


#span-product {
  line-height: 25px;
  font-size: 16px;

}



.button-cart {
  background-color: #36A9AE;
  background-image: linear-gradient(#37ADB2, #329CA0);
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  position: absolute;
  font-weight: 600;
  margin: 0;
  outline: 0;
  padding: 11px 15px 11px;
  text-align: center;
  transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 50px;
}

.button-cart:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.button-cart:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button-cart:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.button-cart:disabled:active {
  pointer-events: none;
}

.button-cart:disabled:hover {
  box-shadow: none;
}


/*Blog Page*/
#page-header {
  background-image: url("./imgblog/img1.jpg");
  background-size: cover;
  width: 100%;
  height: 40vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

}

#blog {
  padding: 150px 150px 0 150px;

}

.blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 0px;
}

.blog-img {
  width: 50%;
  margin-right: 40px;
}

.imagem-messi {
  width: 150%;
  height: 300px;
  object-fit: cover;
}

.blog-details {
  margin-left: 100px;
  width: 150%;
}

#h4-blog {
  font-size: 20px;
  margin-bottom: 10px;
}

#paragrafo-blog {
  font-size: 15px;
  margin-bottom: 10px;
  color: #001C34;
}

#link-blog {
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  color: #000;
  position: relative;
  transition: .3s;
}

#link-blog::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 10px;
  right: -60px;
}

#link-blog:hover::after {
  background-color: #0071B6;
}

#link-blog:hover {
  color: #0071B6;
}

/*About*/

#about-header{
  background-image: url(./imgabout/p.jpg);
 background-size: contain;
  width: 100%;
  height: 40vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#about-head{
  display: flex;
  align-items: center;
}

#img-head{
  width: 50%;
  height: auto;
}

#about-conteiner{
  padding-left: 40px;
}

#about-h2{
  font-size: 35px;
}

.about-paragrafo{
  font-size: 18px;
}

#about-prgf{
  margin-bottom: 10px;
}

#about-h1{
  
  text-align: center;
  font-size: 50px;

}

#about-link{
  text-decoration: none;
  color: #0071B6;
}

#videozinho{
  width: 70%;
  height: 100%;
  margin-top: 30px;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Conect*/

#conecty-header{
  background-image: url(./imgConect/primeira-Img.jpg);
 background-size: cover;
  width: 100%;
  height: 40vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#video-messi{
  height:500px;
  width: 700px;
  
}

#contact-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details{
  width: 50%;
}

#contact-span{
  color: #606063;
  font-size: 12px;
}

#contact-h2{
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 35px;
  margin-top: 15px;

}

#contact-h3{
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 35px;
}

.li-contact{
  list-style: none;
  display: flex;
  padding: 10px 0px;
}

.paragrafo-contact{
  margin-left: 10px;
  color: #8491A3;
}

#form-details{
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 80px;
  border: 1px solid #0172B7;
}

#form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contact-spann{
  color: #606063;
  font-size: 12px;
  padding: 0px 10px;
}

#form-h2{
  font-size: 35px;
  margin-bottom: 10px;
  line-height: 35px;
  margin-top: 15px;
  padding: 10px;

}

.input-form{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #cce7d0;
}

#form-textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #cce7d0;
}


.button-submit {
  background-color: #0071B6;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
}

.button-submit:hover {
  background-color: #818EA0;
}

.button-submit:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.people{
  margin-left: 100px;
  margin-top: 80px;
}

.img-people{
  width: 20%;
  height: 15%;
  object-fit: cover;
  margin-right: 15px;
  
  
}

.dados-people{
  padding: 25px;
  display: flex;
  align-items: flex-start;
}

.paragrafo-people{
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: #696969;
}

.span-people{
  font-size: 16px;
  color: #000;
}

@media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -400px;
    height: 100%;
    width: 300px;
    background-color: #001C34;
    box-shadow: 0 40px 60px #0A5E6D;
    padding: 80px 0 0 10px;
    transition: 1.2s ease;

  }


  #navbar.ativo {
    right: 0px;
    transition: 0.6s ease-in-out;
  }


  #barz {

    font-size: 24px;
    display: flex;
    align-items: center;
  }

  .listah {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }

  #close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: 0.6s ease;
  }

  .bx-x-circle:hover {
    transition: 0.3s;
    color: #0071B6;
  }

  .bar-bx {
    color: #000;
    font-size: 24px;
    padding-left: 20px;

  }

  .bar-bx:hover {
    transition: 0.3s;
    color: #0071B6;
  }

  .bx-shopping-bag {
    color: #000;
    transition: 0.3s;
  }

  .bx-shopping-bag:hover {
    color: #0071B6;
  }

  .link-a {
    color: #fff;
  }



  #lg-bag {
    display: none;

  }

  #coniteiner {
    height: 50vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #continei {
    padding: 0px 80px;
    margin-left: -100px;
  }

  #h2-titu {
    font-size: 35px;
  }

  #span-desconto {
    font-size: 40px;
  }

  #banner {
    height: 30vh;
  }

  .banner-box {

    min-width: 100%;
    height: 30vh;
    margin-bottom: 20px;
  }

  .banner-boxx {

    min-width: 100%;
    height: 30vh;
  }

  #ultimo-banner {
    padding: 0 40px;
  }

  .banner-boox {
    min-width: 30%;
  }

  .banner-boox1 {
    min-width: 30%;
  }

  .banner-boox2 {
    min-width: 30%;
  }

  .newatext {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .h4_titulo {
    text-align: center;
  }

  .form {
    display: flex;
    margin-left: auto;
    margin: auto;
  }

  iframe {
    width: 100%;
    height: 50%;
  }

  .app-play {
    width: 50%;
    height: 50%;
  }

  .col {
    display: block;
    text-align: center;
  }

  .imagem-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .cols {
    flex-direction: column;
    margin-bottom: 20px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    flex-wrap: wrap;
    text-align: center;
  }

  .colls {
    margin-top: 40px;

  }

  .copyri {
    margin-top: 0;
    margin-left: 365px;
    margin-top: -170px;
    margin-right: 90px;
    float: right;
    position: absolute;
    text-align: center;
  }


  #prodetais {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 0px;
  }

  #prodetais .main-blusas {
    width: 100%;

    margin-right: 0px;
    background: #F7F7F7;
  }

  .img-small {
    max-height: 51%;

  }

  .small-group {
    width: 100%;
    margin-bottom: -100px;
  }

  .small-img {
    height: 197px;
  }

  .pro-details {
    display: contents;

  }

  #selectt {
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #span-product {
    font-size: 19px;
    margin-bottom: 80px;
    width: 100%;
    text-align: center;
  }


  #h6-details {
    text-align: center;
  }

  #h4-details {
    text-align: center;
  }

  #titu-h {
    text-align: center;
  }

  #inp_but {
    text-align: center;
    margin-right: 145px;

  }

  #h4-product {
    text-align: center;
  }


  #about-head{
    flex-direction: column;
  
  }
  
  #img-head{
    width: 100%;
    margin-bottom: 50px;
  }

  #about-h2{
    font-size: 50px;
    text-align: center;
  }

#about-conteiner{
  display: block;
    margin: auto;
}

#contact-details {
  display: block;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.details {
  width: auto;
  text-align: center;
}

.li-contact {
  list-style: none;
  display: block;
}

#video-messi {
  height: auto;
  width: 100%;
  margin-top: 30px;
}

}

  



@media (max-width:412px) {

  #header {
    padding: 20px 30px;
  }

  #coniteiner {

    padding: 0 10px;
    background-position: 35%;
  }

  #titulo-h4 {
    padding-bottom: 5px;
    font-size: 20px;
  }

  #titulo-h2 {
    font-size: 30px;
  }

  #titulo-h1 {
    font-size: 30px;
    color: white;
    margin-top: 0px;
  }

  #continei {
    padding: 0px 80px;
    margin-left: -50px;
  }

  #feature .box-conteiner {

    width: 118px;
    margin-left: -4px;

  }

  .imgs-1 {
    width: 95%;
    margin-bottom: 10px;
  }

  .titu-h6 {
    font-size: 13px;
    width: 95px;

  }

  #feature {
    justify-content: space-between;
  }

  #Products {
    font-size: 40px;
    margin-top: -55px;
  }

  #para-gra-fo {
    font-size: 16px;
  }




  .copyri {
    margin-left: 155px;
    margin-top: -499px
  }


  iframe {

    margin-bottom: 100px;
  }

  .pro {
    width: 100%;
  }

  #banner {
    height: 30vh;
  }

  #h2-titu {
    font-size: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }


  #span-desconto {
    font-size: 25px;
  }


  .button {
    padding: 5px;
  }


  #Products {
    font-size: 30px;
    margin-top: -55px;
  }

  #para-gra-fo {
    font-size: 15px;
  }

  .banner-box {
    height: 20vh;
  }

  .titu-off {
    font-size: 12px;

  }

  .h2-titu {
    font-size: 20px;

  }

  .ispan {
    font-size: 12px;

  }

  #oferta {

    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

  }

  .banner-boxx {

    height: 20vh;
  }

  .titu-of {
    font-size: 12px;
  }

  .h2-titulo {
    font-size: 20px;
  }

  .span- {
    font-size: 12px;
  }

  #ultimo-banner {

    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
  }

  .banner-boox2 {

    margin-top: 20px;
  }


  .h4_titulo {
    font-size: 20px;
  }

  #para {
    font-size: 12px;
    text-align: center;
  }

  #grafo {

    font-size: 12px;

  }


  .form {
    width: 100%;
    margin-top: 10px;

  }

  #news {
    padding: 40px;
  }


  .imagem-logo {
    width: 50%;
    height: 25%;

  }

  .prgrafo {
    display: block;
  }

  .contat {
    margin-top: 10px;
  }

  .cols {

    margin-top: 0px;
  }

  #dev {
    font-size: 18px;
    margin-bottom: 20px;

  }


  /*sproduct*/

  #prodetais {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 0px;
  }

  #prodetais .main-blusas {
    width: 160%;
    margin-left: -75px;
    margin-right: 0px;
    background: #F7F7F7;
  }

  .img-small {
    max-height: 51%;

  }

  .small-group {
    margin-left: -75px;
    margin-bottom: -100px;
  }

  .small-img {
    height: 197px;
  }

  .pro-details {
    display: contents;

  }

  #selectt {
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #span-product {
    font-size: 19px;
    margin-bottom: 80px;
    width: 100%;
    text-align: center;
  }


  #h6-details {
    text-align: center;
  }

  #h4-details {
    text-align: center;
  }

  #titu-h {
    text-align: center;
  }

  #inp_but {
    margin-left: 30px;

  }

  #h4-product {
    text-align: center;
  }


  /*Blog*/

  #blog {
    padding: 100px 20px 0 20px;

  }

  .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0px;
  }

  .blog-img {
    width: 65%;
    margin-right: 0px;
    margin-bottom: 30px;

  }

  .blog-details {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #h4-blog {

    text-align: center;
  }

  #paragrafo-blog{
    text-align: center;
  }

  #link-blog{
     margin-left: 25%;
  }


/*About*/

#about-head{
  flex-direction: column;

}

#img-head{
  width: 145%;
  margin-bottom: 20px;
}

#about-conteiner{
  padding-left: 0px;
  text-align: center;
}

#about-h1 {
  
  font-size: 35px;
}

#videozinho {
  width: 130%;
  text-align: center;
  margin-left: -15%;
 
}



}